.center{
	text-align: center;
}

.change-themes-list .active{
	font-weight: bold;
}

.strong{
	font-weight: bold;
}

/* Modal outline fix */
*:focus,
a:focus{
	outline: none;
}

/* Box button */
.box-button-form {
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
    margin-top: 20px;
}

.box-button-form a, .box-button-form button,
.box-button a, .box-button button {
    margin-right: 10px
}

.box-button-form a.last, .box-button-form button.last,
.box-button a.last, .box-button button.last {
    margin-right: 0px
}